.main__promo {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    margin: 0 117px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 190px;
  }
}

.main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.main__desc {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-left: 20px;
  width: 230px;
}
