$basic_green: #68b738;
$basic_grey: #f2f2f2;
$special_grey: #cdcdcd;
$special_dark-grey: #444444;
$basic_black: #000000;
$basic_white: #ffffff;
$basic_light-grey: #e6e6e6;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
